.footer{
  position:bottom;
  background-color: #ffffff;
  height:100px;
}

.footer-inner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
}

.content {
  min-height: 650px;
  margin: 0 auto;
  padding-top: 25px;
}

.mainbar {
  float: left;
  width: 528px;
  margin: 0 0 0 0;
  padding: 0;
}

.sidebar{
  float: right;
  overflow: hidden;
  width: 220px;
  margin: 0 0 15px 0;
}

.sidebar h4{
  border-bottom: 2px solid #162020;
  line-height: 1.5em
}

.tagCloud {
  padding: 2px; 
  line-height: 2em; 
  text-align: left;
  margin: 0;
}

.tagCloud a {
  padding: 0px;
}

.tagCloud li {
  display:inline;
}

.tagCloud-0 {
    font-size: 0.9em;
    font-weight: 200;
    color: #669EC2;
} 
.tagCloud-1 {
    font-size: 1.1m;
    font-weight: 300;
    color: #6B66C2;
} 
.tagCloud-2 {
    font-size: 1.3em;
    font-weight: 400;
    color: #A666C2;
} 
.tagCloud-3 {
    font-size: 1.5em;
    font-weight: 500;
    color: #C167AF;
} 
.tagCloud-4 {
    font-size: 1.7em;
    font-weight: 600;
    color: #0765D3;
}
.tagCloud-5 {
    font-size: 1.9em;
    font-weight: 700;
    color: #0765D3;
}
.tagCloud-6 {
    font-size: 2.1em;
    font-weight: 800;
    color: #0765D3;
}
.tagCloud-7 {
    font-size: 2.3em;
    font-weight: 900;
    color: #0765D3;
}
.tagCloud-8 {
    font-size: 2.5em;
    font-weight: 1000;
    color: #0765D3;
}