.footer{
  position:bottom;
  background-color: #ffffff;
  height:100px;
}

.footer-inner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
}

.content {
  min-height: 650px;
  margin: 0 auto;
  padding-top: 25px;
}

.mainbar {
  float: left;
  width: 528px;
  margin: 0 0 0 0;
  padding: 0;
}

.sidebar{
  float: right;
  overflow: hidden;
  width: 220px;
  margin: 0 0 15px 0;
}

.sidebar h4{
  border-bottom: 2px solid #162020;
  line-height: 1.5em
}