{% extends "web/base.html.j2" %}
{% block headcontent %}
<div class="container">
  <div class=row>
  <div class="col-md-8 col-md-offset-2" style="text-align: center">
    <h3>DİLEKÇE HAKKININ KULLANILMASINA DAİR KANUN</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table border="0">

 
 <tbody>
<tr>
<td>
<table width="292" border="0" cellspacing="1" cellpadding="1">
  <tbody><tr>
    <td width="124"><span>Kanun Numarası&nbsp;</span></td>
    <td width="139"><span>: 3071 </span></td>
  </tr>
  <tr>
    <td><span>Kabul Tarihi&nbsp;&nbsp;</span></td>
    <td><span>: 1/11/1984</span></td>
  </tr>
  <tr>
    <td><span>Resmî Gazete </span></td>
    <td><span>: 10.11.1984/18571</span></td>
  </tr>
</tbody></table>
<p class="style1">&nbsp;</p>
<table width="332" border="0">
  <tbody><tr>
    <td colspan="4"><span><em><span>Ek ve Değişiklikler: </span></em></span></td>
    </tr>
  <tr>
    <td width="17" align="center"><span><em><strong>1)</strong></em></span></td>
    <td width="144"><span><em><strong>K.No: 4778/2.1.2003</strong></em></span></td>
    <td width="109"><span><em><strong>11.1.2003/24990</strong></em></span></td>
    <td width="44"><span><em><strong>RG</strong></em></span></td>
  </tr>
</tbody></table>
<p align="left">&nbsp;</p>
<p>Amaç: </p>
<p><strong>Madde 1 – (Değişik: 2/1/2003-4778/23 md.) </strong></p>
<p>Bu Kanunun amacı, Türk vatandaşlarının ve Türkiye'de ikamet eden yabancıların kendileriyle veya kamu ile ilgili dilek ve şikâyetleri hakkında, Türkiye Büyük Millet Meclisine ve yetkili makamlara yazı ile başvurma haklarının kullanılma biçimini düzenlemektir. </p>
<p> Kapsam: </p>
<p><strong>Madde 2 – (Değişik: 2/1/2003-4778/24 md.) </strong></p>
<p>Bu Kanun, Türk vatandaşları ve Türkiye'de ikamet eden yabancılar tarafından Türkiye Büyük Millet Meclisi ile idarî makamlara yapılan dilek ve şikâyetler hakkındaki başvuruları kapsar. </p>
<p><em> Dilekçe hakkı: </em></p>
<p><strong>Madde 3 – </strong>Türk vatandaşları kendileriyle veya kamu ile ilgili dilek ve şikayetleri hakkında, Türkiye Büyük Millet Meclisine ve yetkili makamlara yazı ile başvurma hakkına sahiptirler. </p>
<p><strong>(Ek: 2/1/2003-4778/25 md.) </strong>Türkiye'de ikamet eden yabancılar karşılıklılık esası gözetilmek ve dilekçelerinin Türkçe yazılması kaydıyla bu haktan yararlanabilirler. </p>
<p> Dilekçede bulunması zorunlu şartlar: </p>
<p><strong>Madde 4 – (Değişik: 2/1/2003-4778/26 md.) </strong></p>
<p>Türkiye Büyük Millet Meclisine veya yetkili makamlara verilen veya gönderilen dilekçelerde, dilekçe sahibinin adı-soyadı ve imzası ile iş veya ikametgâh adresinin bulunması gerekir. </p>
<p> Gönderilen makamda hata: </p>
<p><strong>Madde 5 – </strong>Dilekçe, konusuyla ilgili olmayan bir idari makama verilmesi durumunda, bu makam tarafından yetkili idari makama gönderilir ve ayrıca dilekçe sahibine de bilgi verilir. </p>
<p> İncelenemeyecek dilekçeler: </p>
<p><strong>Madde 6 – </strong>Türkiye Büyük Millet Meclisine veya yetkili makamlara verilen veya gönderilen dilekçelerden; </p>
<p> a) Belli bir konuyu ihtiva etmeyenler, </p>
<p> b) Yargı mercilerinin görevine giren konularla ilgili olanlar, </p>
<p> c) 4 üncü maddede gösterilen şartlardan herhangi birini taşımayanlar, </p>
<p> İncelenemezler. </p>
<p> Dilekçenin incelenmesi ve sonucunun bildirilmesi: </p>
<p><strong>Madde 7 – (Değişik: 2/1/2003-4778/27 md.) </strong></p>
<p> Türk vatandaşlarının ve Türkiye'de ikamet eden yabancıların kendileri ve kamu ile ilgili dilek ve şikâyetleri konusunda yetkili makamlara yaptıkları başvuruların sonucu veya yapılmakta olan işlemin safahatı hakkında dilekçe sahiplerine en geç otuz gün içinde gerekçeli olarak cevap verilir. İşlem safahatının duyurulması halinde alınan sonuç ayrıca bildirilir. </p>
<p><em> Türkiye Büyük Millet Meclisine yapılan başvuruların incelenmesi: </em></p>
<p><strong>Madde 8 – (Değişik: 2/1/2003-4778/28 md.) </strong></p>
<p>Türkiye Büyük Millet Meclisine gönderilen dilekçelerin, Dilekçe Komisyonunda incelenmesi ve karara bağlanması altmış gün içinde sonuçlandırılır. İlgili kamu kurum veya kuruluşları Türkiye Büyük Millet Meclisi Dilekçe Komisyonunca gönderilen dilekçeleri otuz gün içinde cevaplandırır. İnceleme ve karara bağlamanın esas ve usulleri Türkiye Büyük Millet Meclisi İçtüzüğünde gösterilir. </p>
<p> Kaldırılan hüküm: </p>
<p><strong>Madde 9 – </strong>26 Aralık 1962 tarih ve 140 sayılı Türk Vatandaşlarının Türkiye Büyük Millet Meclisine Dilekçe ile Başvurmaları ve Dilekçelerin İncelenmesi ile Karara Bağlanmasının Düzenlenmesine Dair Kanun yürürlükten kaldırılmıştır. </p>
<p><strong>Geçici Madde 1 – (3071 sayılı Kanunun kendi numarasız geçici maddesi olup teselsül için numaralandırılmıştır.) </strong></p>
<p> Türkiye Büyük Millet Meclisi İçtüzüğünde gerekli değişiklikler yapılıncaya kadar, 140 sayılı Türk Vatandaşlarının Türkiye Büyük Millet Meclisine Dilekçe ile Başvurmaları ve Dilekçelerin İncelenmesi ile Karara Bağlanmasının Düzenlenmesine Dair Kanunun Dilekçe Komisyonunun çalışma esas ve usullerine ilişkin hükümlerinin uygulanmasına devam olunur. </p>
<p> Yürürlük: </p>
<p><strong>Madde 10 – </strong>Bu Kanun yayımı tarihinde yürürlüğe girer. </p>
<p> Yürütme: </p>
<p><strong>Madde 11 – </strong>Bu Kanun hükümlerini Türkiye Büyük Millet Meclisi Başkanı ile Bakanlar Kurulu yürütür. </p>
<p align="center">&nbsp;</p>
<p><strong> </strong></p>
<p></p></td>
</tr>
</tbody></table>
</div>
</div>
</div>
{% endblock headcontent %}