{% extends "web/base.html.j2" %}

{% block headcontent %}
{% load static %}
<link rel="stylesheet" href="{% static 'web/css/ac.css' %}">
<meta name="description" content="Dilekçe, form, cv, resume, başvuru, resmi yazı, örnekleri.">
{% endblock headcontent %}
{% block maincontent %}
<div class="content">
  <div class="col-md-6">
    <form action="{% url 'index' %}" method="POST">
      {% csrf_token %}
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input name="q" class="typeahead form-control" placeholder="Dilekçe Ara" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-info btn-lg" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
    </form>
    {% if q %}  
      "{{ q }}" için arama sonuçları :
      {% for p in results %}
        <p>
          <h3>
            <a href="{% url 'detailbyName' p.ascii_filename %}">{{ p.name|truncatewords:10 }}</a>
          </h3>
          <div>
            <span>{{ p.description|truncatewords:20 }}</span><br/>
            <span>({{ p.publishdate|timesince }} önce {{ p.publishedby }} tarafından)</span>
          </div>
        </p>
        {% empty %}
          <cite>Hiç bir sonuç bulunamadı :(</cite>
      {% endfor %}
    {% else %}
      <h3>Nedir ?</h3>
      <p>dilek.co platformu, günlük yaşantınızda bir çok alanda karşılaşabileceğiniz resmi haberleşme ihtiyaçlarınızda, olduğu gibi ya da değiştirerek kullanabileceğiniz çeşitli konu ve alanlarda dilekçe örneklerini bulabileceğiniz bir paylaşım platformudur. İhtiyacınız olan dilekçe konu ya da başlığını ya da bir kısmını yukarıdaki arama alanına girerek ya da ilgilendiğiniz konu sağdaki bölümünde bulunuyorsa seçerek örneklere ulaşabilirsiniz.</p>

      <h3>Ne değildir ?</h3>
      <p>dilek.co platformu, bilgi ve paylaşım amaçlı oluşturulmuş bir platformdur. Hukuki danışmanlık ya da destek vermemektedir. Platformda bulunan bütün içeriklerin kullanılmadan önce dikkatlice okunması, gözden geçirilmesi ve ihtiyaca uyup uymadığının değerlendirilmesi tamamen kullanıcının sorumluluğundadır. dilek.co platformu, içeriklerinde yer alan herhangi bir bilgi, belge, evrakın kullanılması, kullanılmaması ya da hatalı kullanılması sonucu ortaya çıkabilecek herhangi bir zarardan sorumlu değildir.</p>

      <h3>Dilekçemi bulamadım</h3>
      <p>İhtiyacınıza uygun bir dilekçe örneği bulamadıysanız, yorumlar kısmına ihtiyacınızın detaylarını belirtirseniz sonraki güncellemede editorlerimiz tarafından dikkate alınacakır. Bir dilekçe örneği talep etmeniz, bunun karşılacağı anlamı taşımamakla birlikte, editor, elinden gelen çabayı göstermektedir. İsteğinize uygun bir dilekçe örneği oluşturulursa, yorumda girdiğiniz mail adresine bilgilendirme postası gönderilecektir.</p>
    {% endif %}
    {% if latestPetitions %}
      <div class="footer-latest">
        <h3>Son Eklenen {{ latestPetitions.count }} Dilekçe</h3>
        <ul class="list-unstyled distinct">
          {% for p in latestPetitions %}
            <p>
              <h3>
                <a href="{% url 'detailbyName' p.ascii_filename %}">{{ p.name|truncatewords:10 }}</a>
              </h3>
              <div>
                <span>{{ p.description|truncatewords:20 }}</span><br/>
                <span>({{ p.publishdate|timesince }} önce {{ p.publishedby }} tarafından)</span>
              </div>
            </p>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="col-md-4 col-md-offset-2">
    {% if subjects %}{% include "web/subjectlist.html.j2" %}{% endif %}
  </div>
</div>
{% endblock maincontent %}
{% block footercontent %}
  {% if q %}
    Gösterilen: {{ results|length }} | Arama süresi: {{ searchTime|floatformat:2 }} milisecond{{ searchTime|pluralize }}
  {% endif %}
{% endblock %}

{% block scriptcontent %}
{% load static %}
<script src="{% static 'web/js/vendor/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'web/js/ac.js' %}"></script>
{% endblock scriptcontent %}
