{% extends "web/base.html.j2" %}

{% block headcontent %}
{% load static %}
<link rel="stylesheet" href="{% static 'web/css/ac.css' %}">
{% endblock headcontent %}
{% block maincontent %}
<div class="content">
  <div class="mainbar">
    <form action="{% url 'index' %}" method="POST">
      {% csrf_token %}
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input name="q" class="typeahead form-control" placeholder="Dilekçe Ara" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-info btn-lg" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
    </form>
    {% if q %}  
    "{{ q }}" için arama sonuçları :
    {% for p in results %}
    <p>
      <h3>
        <a href="{% url 'detailbyName' p.ascii_filename %}">{{ p.name|truncatewords:10 }}</a>
      </h3>
      <div>
        <span>{{ p.description|truncatewords:20 }}</span><br/>
        <span>({{ p.publishdate|timesince }} önce {{ p.publishedby }} tarafından)</span>
      </div>
    </p>
    {% empty %}
    <cite>Hiç bir sonuç bulunamadı :(</cite>
    {% endfor %}
    {% endif %}
  </div>
  <div class="sidebar">
    {% if subjects %}{% include "web/subjectlist.html.j2" %}{% endif %}
  </div>
</div>
{% endblock maincontent %}
{% block footercontent %}
  {% if q %}
    Arama süresi : {{ searchTime|floatformat:2 }} milisecond{{ searchTime|pluralize }}
  {% endif %}
{% endblock %}

{% block scriptcontent %}
{% load static %}
<script src="{% static 'web/js/vendor/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'web/js/ac.js' %}"></script>
{% endblock scriptcontent %}
