{% extends "web/base.html.j2" %}
{% block headcontent %}<meta name="description" content="Dilekçe nasıl yazılır, dilekçe nedir, dilekçede bulunması gereken şeyler">{% endblock headcontent %}
{% block maincontent %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h3>Dilekçe nedir ?</h3>
      <p>Dilekçe, özel kişilerin tüzel şahıslara (kamu kurumları, özel firmalar vb.) talep, istek ve bildirimlerini yazılı olarak iletmek için kullandıkları yazılı ve imzalı dokümandır.</p>
      
      <h3>Dilekçe nelerden oluşur ?</h3>
      <p><strong>1. Muhattabı</strong></p>
      <p>Dilekçenin muhattabı, hitaben yazdığınız kurum, firma yada makamdır. Konu metninin üst kısmına, arada paragraf boşluğunun 1.5 katı kadar aralık kalacak şekilde ve virgül ile bitirilerek yazılır. Gerekli ise il ve hatta adres de yazılır.</p>

      <p><strong>2. Tarihi</strong></p>
      <p>Dilekçenin yazılış tarihidir. iç bölgenin sağ üst kısmına gg.aa.yyy (ör. 31.12.2015) formatında yazılır. Bunun dışında yaygın olarak kullanıldığı gibi, dilekçe metninin bitiminde de yazılabilir.</p>

      <p><strong>3. Dilekçe Metni</strong></p>
      <p>Dilekçe metni, kağıdın tam ortasına gelecek şekilde yazılır. Anlatılmak istenen konu, muhattabın anlayabileceği şekilde, Türkçe ve anlaşılır cümleler ile yazılmalıdır. Çok uzun ve karışık cümlelerden mümkün olduğunca kaçınılmalı, varsa talep ve istekler açıkca belirtilmelidir.</p>

      <p><strong>4. İmza</strong></p>
      <p>Dilekçe metninin sağ alt tarafına, sağ kenardan ve üst metinden biraz boşluk kalacak şekilde imza atılır.</p>

      <p><strong>5. Dilekçe Sahibi</strong></p>
      <p>Dilekçeyi yazan kişinin adı ve soyadı, imza bölgesinin hemen altına yine sağ taraftan biraz boşlık kalacak şekilde yazılır.</p>

      <p><strong>6. Dilekçe Sahibi Adresi</strong></p>
      <p>Sol alt bölgeye dilekçeyi yazan kişinin, bir cevap durumunda da kullanılacak açık adresi yazılır. Yazılacak adres, ek bir bilgi gerektirmeden, posta ve kargo yoluyla ulaşılmasına yetecek şekilde olmalıdır.</p>
      <p><strong>6. Ekler (Varsa)</strong></p>
      <p>Dilekçe ile birlikte sunulması istenen ek bilgi/belge doküman (elektronik ya da basılı) bu bölümde sıra numaralarıyla ayrılarak listelenir ve dilekçe ile birlikte birlikte teslim edilir.</p>

      <h3>Dikkat edilmesi gerekenler</h3>
      <p>Dilekçe ile başvuruda, muhattabın doğrudan dilekçe içeriği ile iligli olması gereklidir. Başvurduğunuz kurum/kuruluş/bölüm doğrudan başvurunuzla ilgili değilse, dilekçeniz ilgili birime yönlendirilebileceği gibi hiç işleme de alınmayabilir.</p>

      <p>Kamu kurumları her zaman, özel kuruluşlar genelde kendilerine ulaşan evrakları numaralandırırlar. Teslim edilen dilekçelere de yine bu kapsamda bir numara verilir. Dilekçenizi teslim ederken, bu evrak numarasını ve teslim etme tarihini isteyerek bunu saklamanız, ileride dilekçeniz ile ilgili işlemleri takip edebilmeniz açısından faydalı olacaktır.</p>

      <p>Genelde bir makama yazılan dilekçele metninlerinde yapılacak talep ve istekler belirtildikten sonra bu işlemlerin yapılması saygılar ile arz edilir. Ör. ....gerekli işlemlerin yapılmasını saygılarımla arz ederim.</p>

      <p>Dilekçe metni yazılırken, paragraf başlama satırları içeri doğru girinti ile başlar. Metin içerisinde birden fazla paragraf olması durumunda, girinti, paragrafların hepsinin ilk satırına uygulanır.</p>

      <p>Çizgisiz beyaz kağıt kullanılmalıdır. Kâğıdın arka yüzüne geçilmemeli, çok gerekliyse ikinci kağıt kullanılmalıdır.</p>

      <p>Ciddi, resmi, saygılı bir dil ve üslup kullanılmalıdır.</p>

      <p>Yazım ve noktalama kurallarına dikkat edilmelidir.</p>

      <p>Dilekçe, makamlara hitaben yazılır, şahızlara hitaben dilekçe yazılmaz</p>

    </div>
  </div>
</div>
{% endblock maincontent %}