{% extends "web/base.html.j2" %}
{% block headcontent %}<meta name="description" content="Dilekçe örnekleri listesi">{% endblock headcontent %}
{% block title %}Dilekçe Listesi{% endblock title %}
{% block maincontent %}
  <ul>
  {% for p in object_list %}
    <li>
      <a href="{% url 'detailbyName' p.ascii_filename %}">{{ p.name|truncatewords:5 }}</a> ({{ p.publishdate|timesince }} önce {{ p.publishedby }} tarafından)
    </li>
  {% endfor %}
  </ul>
{% endblock maincontent %}