{% extends "web/base.html.j2" %}

{% block maincontent %}
  <h1>{{ petition.name }}</h1>
  <p>{{ petition.description }}</p>
  <p>
    {% if first_url %}
      <a href="{{ first_url }}" type="button" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true" /> İndir
      </a>
    {% else %}
      <cite>Dosya şablonu bulunamadı.</cite>
    {% endif %}
  </p>
  {% if templates_ordered.count > 1 %}
    <p>
      <h4>Önceki Sürümler</h4>
      <ul>
        {% for v in templates_ordered %}
        {% if not forloop.first %}
        <li><a href="{% url 'download' v.downloadticket %}">v{{ v.version }}.0</a> ({{ v.publishdate|timesince }} önce {{ v.publishedby }} tarafından)</li>
        {% endif %}
        {% endfor %}
      </ul>
    </p>
  {% endif %}
{% endblock maincontent %}

{% block footercontent %}
    Görüntüleme: {{ petition.accessCount }} | İndirme: {{ petition.downloadCount }}
{% endblock %}