<div class="subjectlist">
  <h3>Konular</h3>
  <ul class="list-unstyled">
    {% for s in subjects %}
    <li><a href="{% url 'indexsearch' s.name %}">{{ s.name }} ({{s.count}})</a></li>
    {% empty %}
    <li>Boş.</li>
    {% endfor %}
  </ul>
</div>


{% if latestComments %}
  <div class="footer-latest">
    <h3>Son Yorumlar</h3>
    <ul class="list-unstyled distinct">
      {% for c in latestComments|dictsortreversed:"timestamp" %}
        <p>
          <a href="{% url 'detailbyName' c.petition.ascii_filename %}"><i>{{ c.timestamp }} <strong>{{ c.name }}</strong>:</i></a>
          <br/>{{ c.comment }}
        </p>
      {% endfor %}
    </ul>
  </div>
{% endif %}