{% extends "web/base.html.j2" %}
{% block headcontent %}<meta name="description" content="Tüketici Hakem Heyeti Başvuru, Nasıl Başvurulur, Başvuru Sorgulama">{% endblock headcontent %}
{% block maincontent %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h3>Tüketici Hakem Heyeti</h3>
      <p>Dilekçe, özel kişilerin tüzel şahıslara (kamu kurumları, özel firmalar vb.) talep, istek ve bildirimlerini yazılı olarak iletmek için kullandıkları yazılı ve imzalı dokümandır.</p>
      


    </div>
  </div>
</div>
{% endblock maincontent %}