{% extends "web/base.html.j2" %}
{% block headcontent %}<meta name="description" content="Tüketici Hakem Heyeti Başvuru, Nasıl Başvurulur, Başvuru Sorgulama">{% endblock headcontent %}
{% block maincontent %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h3>Tüketici Hakem Heyeti</h3>
      <p>6502 sayılı Tüketicinin Korunması Hakkındaki Kanun'dan doğan haklarınızı aramak ya da aldığınız mal veya hizmet konusundaki uyuşmazlığınızn çözümü için <u>ücretsiz</u> olarak başvurabilirsiniz.</p>
      <h3>Dikkat edilmesi gerekenler</h3>
      <p>Uyuşmazlığınıza konu ürün/hizmetin bedeli ilçe THH'e başvuruluyorsa 2.200TL'den, il THH'e başvuruluyorsa 3.300TL'den az olmalıdır. Bu miktarın üzerindeki uyuşmazlıklar için Tüketici Mahkemeleri yetkilidir.</p>
      <p>Tüketici Hakem Heyetine başvuru tamamen ücretsizdir. Adınıza başvuru yapmak ya da yardımcı olmak için sizden ücret talep edebilecek şahıslara güvenmeyiniz.</p>
      <p>Başvuru için, bir dilekçe ve ekinde haklılığınızı gösterdiğini düşündüğünüz evrak, doküman vb. belgeleri sunmanız normal şartlarda yeterlidir.</p>
      <p>Başvuruyu kendiniz yapabileceğiniz gibi, vekalet vereceğiniz herhangi bir tanıdığınız ya da bir avukat aracılığı ile de yapabilirsiniz. Bu yolu tercih ederseniz, noterden vekaletname çıkarmanız gerekir. Bu durumda notere vekaletname için ücret ödeyeceğiniz unutmayın.</p>
      <p>Bazı Tüketici Hakem Heyeti başvuru merkezlerinde, sık yapılan başvuru konuları için matbu formlar bulunmaktadır. Bunları kullanabileceğiniz gibi hazırlayacağınız başvuru formunda özel bir şekil aranmamaktadır.</p>
      <p>İsterseniz başvurunuzu <a href="http://tuketicisikayeti.tuketici.gov.tr/">buradan</a> online yapabilirsiniz. İnternet üzerinden başvurmanın, elden başvurudan bir farkı bulunmamaktadır.</p>
      <p>Başvurunuzu yaptıktan sonra, başvurunuzun durumunu <a href="http://tuketicisikayeti.tuketici.gov.tr/">buradan</a> sorgulayabilirsiniz.</p>
      <p>Başvurular son dönemdeki yoğunluk göz önünde bulundurulduğunda pratikte ortalama 5-6 ay gibi bir sürede sonuçlanmaktadır.</p>
      <p>Tüketici Hakem Heyetine başvuru yapmanız, uyuşmazlığınız konusunda haklı bulunarak taleplerinizin karşılanacağını <u>garantilememektedir.</u></p>
      <p>Uyuşmazlık konusunda, Tüketici Hakem Heyeti kararına iki tarafın da itiraz edebileceğini unutmayınız.</p>
      <p>Hakem Heyetinden lehinize sonuçlanan bir karar için, karşı tarafın mahkemeye itirazda bulunabileceğini, mahkemeden THH kararının kaldırılmasını talep edebileceği gibi, mahkeme masrafları ve avukatlık ücretlerini de sizden talep edebileceğini unutmayınız. Tüketiciler bu hususta sonradan mağdur olmamak için, THH başvurusu yaparken, uyuşmazlıklarının konusunu ve taleplerini açıkça belirtmeli, sundukları evrak, belge ve delilleri herhangi bir tartışmaya mahal vermeyecek şekilde açık ve net sunmalıdırlar.</p>
      <p></p>
      <h3>Başvurunuz Sonuçlandıktan Sonra</h3>
      <p>Tüketici Hakem Heyeti başvurusu sonuçlandıktan sonra, iki tarafa da sonuç yazılı olarak tebliğ edilmektedir.</p>
      <p>Kararın lehinize çıkması halinde 15 günlük itiraz süresini bekleyiniz. Bu süre sonunda karşı taraftan bir itiraz gelmemesi halinde icra takibine başvurabilirsiniz. İcra takibinden önce karşı tarafa ana sayfadan ulaşabileceğiniz bir dilekçe benzeri ile talebinizi Tüketici Hakem Heyeti sonucunu da belirterek başvurabilirsiniz. Genelde kurumsal firmalar ve bankalar, herhangi bir icra takibine mahal vermemek için bu başvuru sonucunda kararın gereğini (para iadesi vb.) yapmaktadırlar.</p>
      <p>Tüketici Hakem Heyetinden aleyhinizde bir karar çıkması halinde, <u>15 gün içerisinde</u> Tüketici Mahkemesine itirazda bulunabilirsiniz. Başvurunuz için bir avukat ile görüşebileceğiniz gibi ana sayfadan ulaşabileceğiniz bir dilekçe benzeriyle kendiniz de yapabilirsiniz.</p>
      <p>Son dönemde, bazı firmalar, tüketicilerin uzlaşı talebinde kendilerine başvurlamarından sonra, taleplerini yerine getireceklerini belirterek, sonraki süreçte hakem heyeti ya da mahkemelerine başvurmalarının önüne geçmek için bir feragatname imzalatmaktadır. Bu yüzden firma ile uzlaşarak çözüm arama sürecinizde, size başvuru vb. isim altında imzalatılabilecek evrak ve formları iyi okuyunuz. Güvenmemeniz ya da istememeniz durumunda böyle bir belgeyi imzalamak zorunda <u>olmadığınızı</u>, kanundan doğan haklarınızı her zaman hakem heyeti ve tüketici mahkemesi yoluyla arayabileceğinizi unutmayınız.</p>
    </div>
  </div>
</div>
{% endblock maincontent %}